venv
*.pyc
migrations
vagrant/.vagrant
vagrant/site.retry
vagrant/a4keypair.pem
app/data/movies/*.json
app/static/*.jpg
app/static/*.png

yarn-error.log
node_modules
bundle.js
tools/data/*
.ipynb_checkpoints/

!tools/data/ethnicelebs.csv
