.version-0 .browse-vc {
  .logo-wrapper {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
  }

  .logo-wrapper-hidden {
    visibility: hidden;
  }

  .load-more-btn {
    text-align: center;
  }
}
