.version-0 .home-vc {
  .logo-wrapper {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
  }

  .hero {
    height: 100vh;
    background-color: grey;
    background-image: url("../images/movie_minorities.jpg");

    .hero-text {
      margin: 0;
      padding-top: 20vh;
      padding-left: 7vw;

      h1 {
        font-size: 50px;
      }

      h2 {
        font-size: 25px;
      }
    }

    .search-wrapper {
      padding-top: 7vh;
      padding-left: 7vw;
    }
  }
}
