.version-0 .home-vc {
  .logo-wrapper {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  .hero {
    height: 100vh;
    background-color: grey;

    .hero-text {
      margin: 0;
      padding-top: 20vh;
      text-align: center;

      h1 {
        font-size: 50px;
      }

      h2 {
        font-size: 25px;
      }
    }

    .search-wrapper {
      padding-top: 7vh;
      text-align: center;
    }
  }
}
