.version-0 .chart {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;

  svg {
    background-color: #eee;
  }

  p {
    font-size: 18px;
    position: absolute;
    color: black;
    width: 650px;
    left: 50px;
  }

  .description {
    bottom: 100px;
  }

  .conversation {
    bottom: 225px;
  }

  .tooltip {
    position: absolute;
    text-align: center;
    width: 25px;
    height: 25px;
    padding: 2px;
    font: 12px sans-serif;
    background: #f5f5f5;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
    z-index: 2;
  }
}
